tags:
  - acu
  - scheduler
#  - downlink_mtx
#  - uplink_mtx

acu:
  vendor: 
  model: 
  feed: 
  hpa: 
  converter: 
  polarizations:
    SD:
      - dual
    XD:
      - dual      
    SU:
      - dual
            
defaults:

  ftp3:
    host: 192.146.239.4
    port: 22

  ftpSvalSat:
    host: 172.23.99.11
    port: 2222

  proxy:
    nodes:
      - http://:5000

  downlink_mtx:
    host: 
    port: 4000
    vendor: etl
    model: nigma
    mode: downlink
    size: 32

  uplink_mtx:
    host: 
    port: 4000
    vendor: etl
    model: nigma
    mode: uplink
    size: 32

  scheduler:
    host: localhost
    type: vm

  orbital:
    host: 
    rest: http://
  
  specnet:
    rest: http://:80
    qradio_data_ip: 

  ctx:
    host: 
  
  qradio:
    rest: http://:8080
    specnet_data_ip: 

  qfep:
    rest: http://:30000

  qmr:
    rest: http://:80
    qdra_host_inst1: 
    qdra_port_inst1: 50022
    qdra_host_inst2: 
    qdra_port_inst2: 50032

  qdra-inst1:
    inst: 1
    rest: http://:8080

  qdra-inst2:
    inst: 2
    rest: http://:8081

services:

  orbital:
    tags:
      - acu
    
  scheduler:
    tags:
      - scheduler

  downlink_mtx:
    tags:
      - downlink_mtx

    object_id: nigma

  uplink_mtx:
    tags:
      - uplink_mtx

    object_id: nigma
