Proxy endpoints
===============

External endpoint is proxy-host(e.g. for customers), access-host is for internal use

For new customers on a particular antenna IT needs to set up VPN connections to proxy-host for the ports that are needed. Unless natting is used(rare cases), the customer will use proxy-host to connect. This is the only customer facing endpoint, thus everything else is irrelevant for the customer.

Systems marked as operational = False is not ready for customer use and needs setup before ready.

Access-host in an internal application that are setup for each antenna, and after initial antenna setup ignored.

Quick test
**********

To check if a setup is complete run the following, here for SG185. 

   .. note::
    
        Example when IP is not whitelisted:

        .. code-block:: bash
        
           curl -X GET 'http://10.103.254.118:8078/mc/v1/open'
	   
	   <html><body><h1>503 Service Unavailable</h1>
	   No server is available to handle this request.
	   </body></html>


The above response means that the access-host is blocking the request and expected behaviour. If the response is something else there is something wrong(unless there is a running pass and you have whitelisted yourself). To check if it works all the way to backend you can setup a pass using TESTSAT and try to connect during AOS-LOS, you should get the response below, again, something is wrong if not. This must be done from internal network(e.g. not from VPN etc)

   .. note::
    
        Example when IP is whitelisted:

        .. code-block:: bash
        
           curl -X GET 'http://10.103.254.118:8078/mc/v1/open'
	   
	   {"antenna":"SG185","open":true}

	   
For initial connection test with customers it could be beneficial to ask them to perform the two above commands(replace with correct proxy-host for the various systems) and share their results with us. This will help us to verify if VPN is ok etc.


Debug
*****

- Run commands in quick test(above)
- Are authorized hosts added to mission?
- Are authorized services added to mission?
- Are contact marked as test pass? It will not work!


Endpoints
*********


.. csv-table:: Proxy setup
   :header: "system", "site-proxy", "site-proxy_sdwan", "access-proxy", "mode", "operational"
   :widths: 10, 20, 20, 20, 10, 10

   {% for result in results %}
   "{{ result[0] }}", "{{ result[1] }}", "{{ result[2] }}", "{{ result[3] }}", "{{ result[4] }}", "{{ result[5] }}"{% endfor %}
